/* location.scss */
.location{
    &-block{
        margin-top: 96px;
        margin-bottom: 32px; //80px-48px
        @include pad{
            margin-top: 80px;
            margin-bottom: 56px; //80px-24px
        }
        @include mobile(){
            margin-top: 40px;
            margin-bottom: 40px; //64px-24px
        }
        h3{
            border-left: 8px solid #9F1213;
            padding-left: 16px;
            @include mobile(){
                font-size: 24px;
            }
        }
        .shop{
            margin-top: 33px;
            display: flex;
            @include mobile(){
                margin-top: 24px;
                align-items: center;
            }
            h5{
                font-weight: normal;
                @include mobile(){
                    font-size: 16px;
                }
            }
            .select-control{
                font-size: 18px;
                color: #495057;
                opacity: 0.75;
                padding-left: 12px;
                padding-right: 12px;
                // width: 25%;
                width: 304px;
                @include mobile(){
                    // width: ( 276px / 351px ) * 100%;
                    max-width: 276px;
                    padding-top: 6px;
                    padding-bottom: 6px;
                }
            }
        }
    }
    &-content{
        margin-top: 41px;
        display: flex;
        flex-wrap: wrap;
        margin-right: -12px;
        margin-left: -12px;
        li{
            margin-bottom: 48px;
        }
        @include pad(){
            flex-wrap: wrap;
            li{
                margin-bottom: 24px;
            }
        }
        @include mobile(){
            margin-top: 24px;
        }
    }
    &-card{
        // width: ( 526px / 1296px ) * 100%;
        width: calc( 100% / 12 * 5 - 24px);
        margin-left: 12px;
        margin-right: 12px;
        @include pad(){
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        @include mobile(){
            // display: block;
            flex-direction: column;
            width: 100%;
        }
        h5{
            padding: 8px 24px;
            border: 1px solid #00000020;
            font-weight: normal;
            color: #212529;
        }
        ul{
            padding-top: 16px;
            padding-left: 24px;
            padding-right: 24px;
            padding-bottom: 8px;
            border: 1px solid #00000020;
            color: #212529;
            font-size: 20px;
            li{
                display: flex;
                margin-bottom: 8px;
            }
            span{
                width: 24px;
                height: 24px;
                margin-right: 8px;
            }
            a{
                color: #212529;
            }
            a:hover{
                color: $primary;
            }
        }
        img{
            @include pad(){
                // width: ( 337px / 696px ) * 100%;
                width: calc( 100% / 2 - 12px );
            }
            @include mobile(){
                width: 100%;
            }
        }
        .card-body{
            @include pad(){
                // width: ( 337px / 696px ) * 100%;
                width: calc( 100% / 2 - 12px );
            }
            @include mobile(){
                width: 100%;
            }
        }
        .btn-card{
            width: 100%;
            border: 1px solid #CED4DA;
            background: $black;
            text-align: center;
            cursor: pointer;
            a{
                color: $white;
                display: block;
                padding: 20px 6px;
                font-size: 19px;
                line-height: 27px;
            }
            a:hover{
                background-color: #650300;
            }
        }
    }
    //直接蓋掉上面card的排版設定
    // .content-shop{
    //     flex-wrap: wrap;
    //     justify-content: start;
    //     margin-right: -12px;
    //     margin-left: -12px;
    // }
    .card-shop{
        // width: ( 416px / 1296px ) * 100%;
        // margin-right: 8px;
        // margin-left: 8px;
        width: calc( 100% / 3 - 24px);
        margin-right: 12px;
        margin-left: 12px;
        @include pad(){
            // display: block;
            flex-direction: column;
            // width: ( 337px / 696px ) * 100%;
            // margin-right: 5px;
            // margin-left: 5px;
            width: calc( 100% / 2 - 24px);
            // img{
            //     width: 100%;
            // }
        }
        @include mobile(){
            width: 100%;
        }
    }
    &-map{
        // width: 58%;
        // width: ( 746px / 1296px ) * 100%;
        width: calc( 100% / 12 * 7 - 24px);
        margin-right: 12px;
        margin-left: 12px;
        @include pad(){
            width: 100%;
        }
        @include mobile(){
            width: 100%;
        }
    }
}
/* location.scss end */