/* product.scss */
.product{
    &-banner{
        display: flex;
        img{
            width: 50%;
        }
    }
    &-content{
        padding: 80px 0px;
        @include mobile(){
            padding-top: 40px;
            padding-bottom: 64px;
        }
        .op-titleEN{
            text-align: center;
            font-size: 42px;
            line-height: 63px;
            font-weight: 500;
        }
        .op-titleTW{
            text-align: center;
            font-size: 32px;
            font-weight: normal;
        }
    }
}
.nav-glass{
    display: flex;
    li{
        width: ( 100% / 3 );
        text-align: center;
        border: 1px solid #DCDCDC;
        a{
            display: block;
            font-size: 32px;
            font-weight: 500; //medium
            color: $black;
            padding-top: 24px;
            padding-bottom: 24px;
            @include pad(){
                font-size: 24px;
            }
            @include mobile(){
                font-size: 16px;
            }
        }
        a:hover{
            border-bottom: 8px solid #AA0601;
        }
        .active{
            border-bottom: 8px solid #AA0601;
        }
    }
}
.product-opCard{
    margin-top: 32px;
    margin-left: -12px;
    margin-right: -12px;
    @include mobile(){
        margin-top: 24px;
        margin-left: 0px;
        margin-right: 0px;
    }
    display: flex;
    flex-wrap: wrap;
    .opCard-body{
        display: flex;
        justify-content: space-between;
        h5{
            font-weight: normal;
        }
        span{
            color: #AA0601;
            font-size: 24px;
            font-weight: 500;
        }
    }
    .opCard-colorList{
        display: flex;
        li{
            width: 24px;
            height: 24px;
        }
    }
    .color-1{
        background-color: #5F3E2D;
        border-radius: 4px;
        margin-right: 8px;
    }
    .color-2{
        background-color: #B75929;
        border-radius: 4px;
    }
}
.product-opCard-item{
    width: calc( 100% / 4 - 24px );
    margin: 0px 12px 80px;
    @include pad(){
        width: calc( 100% / 2 - 24px );
        margin: 0px 12px 40px;
    }
    @include mobile(){
        width: 100%;
        margin: 0px 0px 24px;
    }
}
.pagination{
    display: flex;
    justify-content: center;
    @include pad(){
        margin-top: 40px;
    }
    .page-item{
        border: 1px solid #555555;
        a{
            display: block;
            color: #555555;
            font-size: 19px;
            line-height: 29px;
            padding: 11px 16px;
            @include mobile(){
                font-size: 16px;
                padding: 11px 13px;
            }
        }
        .page-active{
            background-color: $black;
            color: $white;
        }
        
    }
}